#fileList img {
    border-radius: 50%;
}

#fileList {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Education background */


/*=================right-container===========*/

.right-sidebar {
    flex-basis: 25%;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: grey;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.right-sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a {
    text-decoration: none;
    color: #1872f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 15px;
    margin-bottom: 19px;
}

.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
    font-size: 12px;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: #1872f2;
}

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: #1872f2;
    font-size: 10px;
    padding: 4px 0;
}


/*=============location icon in event=============*/

.right-event img {
    width: 15px;
}

.right-event input {
    background-color: #1872f2;
    color: #fff;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}


/*=============education popup=============*/

.education-form {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    transform: translateY(-2000px);
    display: none;
}

.education-form.active {
    transform: translateY(0);
}

.education-form .form-popup span {
    display: flex;
    align-items: center;
    color: var(--nav-color);
    width: fit-content;
}

.education-form .form-popup span input {
    border-radius: 5px;
    position: relative;
    height: 30px;
    width: 250px;
    padding: 20px;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.addtoggle-btn input {
    width: 50px;
    background: #1872f2;
    color: var(--body-color);
    border-radius: 20px;
    font-weight: 500;
    margin-right: 50px;
    cursor: pointer;
}

.footer {
    text-align: center;
    color: #9a9a9a;
    pad: 10px 0 20px;
    font-size: 13px;
}

.btn {
    display: inline-block;
    padding-top: 6px;
    font-weight: 500;
    border-radius: 10%;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    width: 100px;
    text-align: center;
    margin-bottom: 2px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: blue;
    color: beige;
}


/*------------------dark  btn--------*/

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15%;
    padding: 4px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 20px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #0a0a0a;
}